<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header" ng-if="!onEdit">Tambah Product</h2>
    <h2 class="page-header" ng-if="onEdit">Edit Product {{model.name}}</h2>
    <form ng-submit="onSave()">
      <div class="form-group">
        <label>Product Name</label>
        <input type="text" name="name" ng-model="model.name" class="form-control">
      </div>
      <button class="btn btn-primary" ng-disabled="!model.name">
        <i class="fa fa-save"></i> Simpan</button>
    </form>
  </div>
</div>