<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Products</h2>
    <a ui-sref="product.new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Tambah Product</a>
    <table ng-table="table" class="table" show-filter="true">
      <tbody ng-repeat="product in $data" class="text-center">
        <tr>
          <td title="'Product Name'" filter="{ 'name': 'text' }">{{product.name}}</td>
          <td title="'Created'">{{product.created | date:'dd/MM/yyyy HH:mm:ss a'}}</td>
          <td title="'Actions'">
            <div class="btn-group">
              <!-- <button class="btn btn-default btn-sm" ng-click="open(product.code, product)">
                <i class="fa fa-eye"></i>
              </button> -->
              <a ui-sref="product.edit({id: product._id})" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
              </a>
              <button class="btn btn-danger btn-sm" ng-click="onDelete(product._id, product)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>