<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header" ng-if="!onEdit">Tambah MaterialUsage</h2>
    <h2 class="page-header" ng-if="onEdit">Edit MaterialUsage {{model.name}}</h2>
    <form ng-submit="onSave()">
      <div class="form-group">
        <label>Product Name</label>
        <input type="text" ng-model="model.product" placeholder="Cari Product ..." uib-typeahead="product as product.name for product in getProducts($viewValue)"
          typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>
      <div class="form-group">
        <label for="qty">Jumlah</label>
        <input type="number" name="qty" ng-model="model.qty" class="form-control">
      </div>
      <button class="btn btn-primary">
        <i class="fa fa-save"></i> Simpan</button>
    </form>
  </div>
</div>