<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">BOMs</h2>
    <a ui-sref="bom.new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Tambah BOM</a>
    <table ng-table="table" class="table" show-filter="true">
      <tbody ng-repeat="bom in $data" class="text-center">
        <tr>
          <td title="'BOM Name'" filter="{ 'name': 'text' }">{{bom.product.name}}</td>
          <td title="'Created'">{{bom.created | date:'dd/MM/yyyy HH:mm:ss a'}}</td>
          <td title="'Actions'">
            <div class="btn-group">
              <!-- <button class="btn btn-default btn-sm" ng-click="open(bom.code, bom)">
                <i class="fa fa-eye"></i>
              </button> -->
              <a ui-sref="bom.edit({id: bom._id})" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
              </a>
              <button class="btn btn-danger btn-sm" ng-click="onDelete(bom._id, bom)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>