<div class="row">
  <div class="col-md-12">
    <div ng-hide="eoqProcessing">
      <h2 class="page-header">Forecasts</h2>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Proses Forecasts To EOQ</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Bulan</label>
                <select name="month" ng-model="holder.month" class="form-control">
                  <option ng-repeat="month in months" value="{{month.value}}">{{month.title}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Tahun</label>
                <input type="text" name="year" ng-model="holder.year" class="form-control">
              </div>
              <button class="btn btn-primary" ng-click="onProcessEOQ()">HITUNG EOQ</button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-danger pull-right" ng-click="onResetForecast()">
        <i class="fa fa-remove"></i> Clear Forecast</button>
      <table ng-table="table" class="table" show-filter="true">
        <tbody ng-repeat="forecast in $data" class="text-center">
          <tr>
            <td title="'Product Name'">{{forecast.product.name}}</td>
            <td title="'Peramalan'">{{forecast.forecast}}</td>
            <td title="'MSE'">{{forecast.mse}}</td>
            <td title="'Peramalan Untuk Bulan'">{{checkMonth(forecast.month)}}</td>
            <td title="'Peramalan Tahun'">{{forecast.year}}</td>
            <td title="'Created'">{{forecast.created | date:'dd/MM/yyyy HH:mm:ss a'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-if="eoqProcessing">
      <h4 class="text-center">Pemesanan Bahan Baku</h4>
      <h5 class="text-center">
        <strong>Bulan: {{checkMonth(monthForecast)}}</strong>
      </h5>
      <h5 class="text-center">
        <strong>Tahun: {{yearForecast}}</strong>
      </h5>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>Material</th>
            <th>Kebutuhan Bahan Baku Awal</th>
            <th>kebutuhan Bahan Baku (kg)</th>
            <th>Safety Stock (kg)</th>
            <th>Total Bahan Baku (kg)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="bb in eoq">
            <td>{{ bb.name }}</td>
            <td>{{ bb.realKebutuhan }}</td>
            <td>{{ bb.stock
              < bb.kebutuhan ? bb.kebutuhan : '-' }}</td>
                <td>{{ bb.stock
                  < bb.kebutuhan ? bb.safetyStock : '-' }}</td>
                    <td>{{ bb.stock
                      < bb.kebutuhan ? bb.total : '-' }}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h4 class="text-center">Konversi Ke Bal</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Material</th>
            <th>Total Bahan Baku (kg)</th>
            <th>Sisa Hasil Bagi</th>
            <th>Hasil Bagi</th>
            <th>Konversi Ke Bal</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="bb in eoq">
            <td>{{ bb.name }}</td>
            <td>{{ bb.stock
              < bb.kebutuhan ? bb.total : 0 }}</td>
                <td>{{ bb.stock
                  < bb.kebutuhan ? bb.sisa : 0 }}</td>
                    <td>{{ bb.stock
                      < bb.kebutuhan ? bb.hasilBagi : 0 }}</td>
                        <td>{{ bb.stock
                          < bb.kebutuhan ? bb.bal : 0 }}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h4 class="text-center">Economic Order Quantity</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Material</th>
            <th>Jumlah Bal Metode EOQ</th>
            <th>Status Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="bb in eoq">
            <td>{{ bb.name }}</td>
            <td>{{ bb.balEOQ }}</td>
            <td>
              <span ng-if="bb.kebutuhan > bb.stock">Lakukan Pemesanan</span>
              <span ng-if="bb.kebutuhan <= bb.stock">Stock Cukup</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>