<div id="forecast-wrapper">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a ui-sref="forecast.data" class="btn btn-info">Data Hasil Peramalan</a>
      <h4 class="page-header">Set Up Forecast</h4>
      <div class="form-group">
        <label for="pola">Pilih Pola Peramalan</label>
        <select name="pola" class="form-control" ng-model="model.pattern">
          <option value="horizontal">Pola Horizontal</option>
          <option value="trend">Pola Trend</option>
          <option value="musiman">Pola Musiman</option>
          <option value="siklis">Pola Siklis</option>
        </select>
      </div>
      <div class="form-group">
        <label for="product">Product</label>
        <input type="text" ng-model="model.product" placeholder="Cari Product ..." uib-typeahead="product as product.name for product in getProducts($viewValue)"
          class="form-control">
      </div>
      <div class="form-group">
        <label>Peramalan Untuk Bulan</label>
        <select name="month" ng-model="model.month" class="form-control" ng-init="getYears()">
          <option ng-repeat="month in months" value="{{month.value}}">{{month.title}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Peramalan Tahun Ke-</label>
        <input type="number" name="year" ng-model="model.year" class="form-control">
        <!-- <select name="year" ng-model="model.year" class="form-control" ng-init="getYears()">
          <option ng-repeat="year in myYears" value="{{year}}">{{year}}</option>
        </select> -->
      </div>
      <h4 class="sub-header">Sale Per Month</h4>
      <div class="form-group" ng-repeat="i in getNumber(12) track by $index">
        <label for="{{$index+1}}">Bulan {{$index+1}}</label>
        <input type="text" ng-model="model.requests[$index]" class="form-control">
      </div>
      <button type="button" class="btn btn-primary btn-block" ng-click="onProcessForecast()">PROCESS!</button>
      <br>
      <div class="text-center" ng-if="processing">
        <i class="fa fa-refresh fa-spin fa-2x"></i>
      </div>
      <br>
      <br>
    </div>
  </div>
  <div class="row" ng-if="forecast.holder">
    <div class="col-md-12">
      <h4 class="text-center">Hasil Peramalan Terbaik Adalah Menggunakan Metode: {{forecast.metode}}</h4>
      <h4 class="text-center">MSE: {{forecast.MSE}}</h4>
      <h4 class="text-center">NEXT FORECAST: {{forecast.nextForecast}}</h4>
      <table class="table">
        <thead>
          <tr>
            <th ng-repeat="val in myHeaders">{{ val }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in forecast.holder">
            <td ng-repeat="column in row">{{ column }}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success btn-block" ng-click="onSaveForecast()">SIMPAN HASIL PERAMALAN</button>
      <br>
      <br>
    </div>
  </div>
</div>