<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header" ng-if="!onEdit">Tambah Product</h2>
    <h2 class="page-header" ng-if="onEdit">Edit Product {{model.name}}</h2>
    <form ng-submit="onSave()">
      <div class="form-group">
        <label>Product Name</label>
        <input type="text" ng-model="model.product" placeholder="Cari Product ..." uib-typeahead="product as product.name for product in getProducts($viewValue)"
          typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
      </div>
      <div class="form-group">
        <label>Material</label>
        <input type="text" ng-model="holder.material" placeholder="Cari Material ..." uib-typeahead="material as material.name for material in getMaterials($viewValue)"
          class="form-control">
      </div>
      <div class="form-group">
        <label>Qty</label>
        <input type="number" name="qty" ng-model="holder.qty" class="form-control">
      </div>
      <button type="button" class="btn btn-primary btn-block" ng-click="onAddMaterial(e)">ADD MATERIAL</button>
      <hr>
      <table class="table" ng-if="model.materials.length > 0">
        <thead>
          <tr>
            <th>Material</th>
            <th>Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="part in model.materials">
            <td>{{part.material.name}}</td>
            <td>{{part.qty}}</td>
            <td>
              <button type="button" ng-click="onRemoveMaterial($index)" class="btn btn-danger btn-xs">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <button class="btn btn-primary">
        <i class="fa fa-save"></i> Simpan</button>
    </form>
  </div>
</div>