<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Suppliers</h2>
    <a ui-sref="supplier.new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Tambah Supplier</a>
    <table ng-table="table" class="table" show-filter="true">
      <tbody ng-repeat="supplier in $data" class="text-center">
        <tr>
          <td title="'Supplier Name'" filter="{ 'name': 'text' }">{{supplier.name}}</td>
          <td title="'Address'">{{supplier.address}}</td>
          <td title="'Phone'">{{supplier.phone}}</td>
          <td title="'Created'">{{supplier.created | date:'dd/MM/yyyy HH:mm:ss a'}}</td>
          <td title="'Actions'">
            <div class="btn-group">
              <!-- <button class="btn btn-default btn-sm" ng-click="open(supplier.code, supplier)">
                <i class="fa fa-eye"></i>
              </button> -->
              <a ui-sref="supplier.edit({id: supplier._id})" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
              </a>
              <button class="btn btn-danger btn-sm" ng-click="onDelete(supplier._id, supplier)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>