<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="/">SPK DEO</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li>
          <a href="#">Link</a>
        </li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-list"></i> MASTER
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="material.index">
                <i class="fa fa-circle-o-notch"></i> Materials</a>
            </li>
            <li>
              <a ui-sref="product.index">
                <i class="fa fa-circle-o-notch"></i> Products</a>
            </li>
            <li>
              <a ui-sref="supplier.index">
                <i class="fa fa-circle-o-notch"></i> Suppliers</a>
            </li>
            <!-- <li role="separator" class="divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">One more separated link</a>
            </li> -->
          </ul>
        </li>
        <li>
          <a ui-sref="salesOrder.index">
            <i class="fa fa-circle-o-notch"></i> Sales Orders</a>
        </li>
        <li>
          <a ui-sref="forecast.index">
            <i class="fa fa-circle-o-notch"></i> Forecast</a>
        </li>
        <li>
          <a ui-sref="eoq.index">
            <i class="fa fa-circle-o-notch"></i> EOQ</a>
        </li>
        <li>
          <a ui-sref="bom.index">
            <i class="fa fa-circle-o-notch"></i> BOM</a>
        </li>
        <li>
          <a ui-sref="materialUsage.index">
            <i class="fa fa-circle-o-notch"></i> Realtime Material Usages</a>
        </li>
        <li>
          <a ng-click="onLogout()" style="cursor: pointer;">
            <i class="fa fa-sign-out"></i> Logout</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>