<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="header text-center">SISTEM PENDUKUNG KEPUTUSAN PERENCANAAN PERSEDIAAN BAHAN BAKU</h2>
        <h4 class="text-center">
          <strong>PT. GEE SAN INDONESIA</strong>
        </h4>
        <img src="src/templates/logo.jpeg" class="logo img-responsive center-block">
      </div>
    </div>
  </div>
</div>