<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header" ng-if="!onEdit">Tambah Material</h2>
    <h2 class="page-header" ng-if="onEdit">Edit Material {{model.name}}</h2>
    <form ng-submit="onSave()">
      <div class="form-group">
        <label>Material Name</label>
        <input type="text" name="name" ng-model="model.name" class="form-control">
      </div>
      <div class="form-group" ng-if="!onEdit">
        <label>Qty*</label>
        <input type="number" name="qty" ng-model="model.qty" class="form-control">
        <small>*) Qty dalam Bal</small>
      </div>
      <div class="form-group" ng-if="!onEdit">
        <label>Biaya Penyimpanan</label>
        <input type="number" name="biayaSimpan" ng-model="model.biayaSimpan" class="form-control">
      </div>
      <div class="form-group" ng-if="!onEdit">
        <label>Biaya Pemesanan</label>
        <input type="number" name="biayaPesan" ng-model="model.biayaPesan" class="form-control">
      </div>
      <div class="form-group">
        <label>Supplier</label>
        <input type="text" ng-model="model.supplier" placeholder="Cari Supplier ..." uib-typeahead="supplier as supplier.name for supplier in getSuppliers($viewValue)"
          class="form-control">
      </div>
      <button class="btn btn-primary" ng-disabled="!model.name">
        <i class="fa fa-save"></i> Simpan</button>
    </form>
  </div>
</div>