<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Materials</h2>
    <a ui-sref="material.new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Tambah Material</a>
    <button class="btn btn-danger btn-sm pull-right" ng-click="onResetStock()">
      <i class="fa fa-exclamation-triangle"></i> RESET STOCK</button>
    <table ng-table="table" class="table" show-filter="true">
      <tbody ng-repeat="material in $data" class="text-center">
        <tr>
          <td title="'Material Name'" filter="{ 'name': 'text' }">{{material.name}}</td>
          <td title="'Qty/Stock'">{{material.qty | number}} KG</td>
          <td title="'Biaya Pesan'">Rp. {{material.biayaPesan | number}}</td>
          <td title="'Biaya Simpan'">Rp. {{material.biayaSimpan | number}}</td>
          <td title="'Supplier'">{{material.supplier.name}}</td>
          <td title="'Created'">{{material.created | date:'dd/MM/yyyy HH:mm:ss a'}}</td>
          <td title="'Actions'">
            <div class="btn-group">
              <!-- <button class="btn btn-default btn-sm" ng-click="open(material.code, material)">
                <i class="fa fa-eye"></i>
              </button> -->
              <button class="btn btn-default btn-sm" ng-click="onAddStock(material._id)">
                Add Stock
              </button>
              <a ui-sref="material.edit({id: material._id})" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
              </a>
              <button class="btn btn-danger btn-sm" ng-click="onDelete(material._id, material)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>