<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header" ng-if="!onEdit">Tambah Supplier</h2>
    <h2 class="page-header" ng-if="onEdit">Edit Supplier {{model.name}}</h2>
    <form ng-submit="onSave()">
      <div class="form-group">
        <label>Supplier Name</label>
        <input type="text" name="name" ng-model="model.name" class="form-control">
      </div>
      <div class="form-group">
        <label>Supplier Address</label>
        <input type="text" name="address" ng-model="model.address" class="form-control">
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" name="phone" ng-model="model.phone" class="form-control">
      </div>
      <button class="btn btn-primary">
        <i class="fa fa-save"></i> Simpan</button>
    </form>
  </div>
</div>