<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header" ng-if="!onEdit">Tambah SalesOrder</h2>
    <h2 class="page-header" ng-if="onEdit">Edit SalesOrder {{model.name}}</h2>
    <form ng-submit="onSave()">
      <div class="form-group">
        <label>Month</label>
        <select name="month" ng-model="model.month" class="form-control">
          <option ng-repeat="month in months" value="{{month.value}}">{{month.title}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        <input type="text" name="year" ng-model="model.year" class="form-control">
      </div>
      <div class="form-group">
        <label>Product Name</label>
        <input type="text" ng-model="holder.product" placeholder="Cari Product ..." uib-typeahead="product as product.name for product in getProducts($viewValue)"
          class="form-control">
      </div>
      <div class="form-group">
        <label>Sale</label>
        <input type="number" name="sale" ng-model="holder.sale" class="form-control">
      </div>
      <button type="button" class="btn btn-primary btn-block" ng-click="onAddProduct(e)">ADD MATERIAL</button>
      <hr>
      <table class="table" ng-if="model.products.length > 0">
        <thead>
          <tr>
            <th>Product</th>
            <th>Sale</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="part in model.products">
            <td>{{part.product.name}}</td>
            <td>{{part.sale}}</td>
            <td>
              <button type="button" ng-click="onRemoveProduct($index)" class="btn btn-danger btn-xs">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <button class="btn btn-primary">
        <i class="fa fa-save"></i> Simpan</button>
    </form>
  </div>
</div>