<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Realtime Material Usage</h2>
    <a ui-sref="materialUsage.new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Tambah MaterialUsage</a>
    <table ng-table="table" class="table" show-filter="true">
      <tbody ng-repeat="materialUsage in $data" class="text-center">
        <tr>
          <td title="'Product Name'" filter="{ productName: 'text' }">{{materialUsage.productName}}</td>
          <td title="'Jumlah'">
            {{ materialUsage.qty |number }}
          </td>
          <!-- <td title="'Materials'">
            <ul class="center-block">
              <li ng-repeat="mat in materialUsage.materials">{{ material.material }} - Qty: {{material.qty}}</li>
            </ul>
          </td> -->
          <td title="'Created'">{{materialUsage.created | date:'dd/MM/yyyy HH:mm:ss a'}}</td>
          <td title="'Actions'">
            <div class="btn-group">
              <!-- <button class="btn btn-default btn-sm" ng-click="open(materialUsage.code, materialUsage)">
                <i class="fa fa-eye"></i>
              </button> -->
              <!-- <a ui-sref="materialUsage.edit({id: materialUsage._id})" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
              </a> -->
              <button class="btn btn-danger btn-sm" ng-click="onDelete(materialUsage._id, materialUsage)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>