<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">SalesOrders</h2>
    <a ui-sref="salesOrder.new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Tambah SalesOrder</a>
    <table ng-table="table" class="table" show-filter="true">
      <tbody ng-repeat="salesOrder in $data" class="text-center">
        <tr>
          <td title="'Month'" filter="{ 'month': 'text' }">
            <span>{{checkMonth(salesOrder.month)}}</span>
          </td>
          <td title="'Year'" filter="{ 'year': 'text' }">{{salesOrder.year}}</td>
          <td title="'Created'">{{salesOrder.created | date:'dd/MM/yyyy HH:mm:ss a'}}</td>
          <td title="'Actions'">
            <div class="btn-group">
              <!-- <button class="btn btn-default btn-sm" ng-click="open(salesOrder.code, salesOrder)">
                <i class="fa fa-eye"></i>
              </button> -->
              <a ui-sref="salesOrder.edit({id: salesOrder._id})" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
              </a>
              <button class="btn btn-danger btn-sm" ng-click="onDelete(salesOrder._id, salesOrder)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>