<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">EOQs</h2>
    <table ng-table="table" class="table" show-filter="true">
      <tbody ng-repeat="eoq in $data" class="text-center">
        <tr>
          <td title="'Bulan'" filter="{ 'month': 'text' }">{{checkMonth(eoq.month)}}</td>
          <td title="'Tahun'" filter="{ 'year': 'text' }">{{eoq.year}}</td>
          <td title="'Created'">{{eoq.created | date:'dd/MM/yyyy HH:mm:ss a'}}</td>
          <td title="'Actions'">
            <div class="btn-group">
              <!-- <button class="btn btn-default btn-sm" ng-click="open(eoq.code, eoq)">
                  <i class="fa fa-eye"></i>
                </button> -->
              <a ui-sref="eoq.edit({id: eoq._id})" class="btn btn-info btn-sm">
                <i class="fa fa-eye"></i>
              </a>
              <button class="btn btn-danger btn-sm" ng-click="onDelete(eoq._id, eoq)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>