<div class="row">
  <div class="col-md-12">
    <h4 class="text-center">Pemesanan Bahan Baku</h4>
    <h5 class="text-center">
      <strong>Bulan: {{checkMonth(eoq.month)}}</strong>
    </h5>
    <h5 class="text-center">
      <strong>Tahun: {{eoq.year}}</strong>
    </h5>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th>Material</th>
          <th>Kebutuhan Bahan Baku Awal</th>
          <th>kebutuhan Bahan Baku (kg)</th>
          <th>Safety Stock (kg)</th>
          <th>Total Bahan Baku (kg)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bb in eoq.details">
          <td>{{ bb.name }}</td>
          <td>{{ bb.realKebutuhan }}</td>
          <td>{{ bb.stock
            < bb.kebutuhan ? bb.kebutuhan : '-' }}</td>
              <td>{{ bb.stock
                < bb.kebutuhan ? bb.safetyStock : '-' }}</td>
                  <td>{{ bb.stock
                    < bb.kebutuhan ? bb.total : '-' }}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h4 class="text-center">Konversi Ke Bal</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Material</th>
          <th>Total Bahan Baku (kg)</th>
          <th>Sisa Hasil Bagi</th>
          <th>Hasil Bagi</th>
          <th>Konversi Ke Bal</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bb in eoq.details">
          <td>{{ bb.name }}</td>
          <td>{{ bb.stock
            < bb.kebutuhan ? bb.total : 0 }}</td>
              <td>{{ bb.stock
                < bb.kebutuhan ? bb.sisa : 0 }}</td>
                  <td>{{ bb.stock
                    < bb.kebutuhan ? bb.hasilBagi : 0 }}</td>
                      <td>{{ bb.stock
                        < bb.kebutuhan ? bb.bal : 0 }}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h4 class="text-center">Entity Order Quantity</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Material</th>
          <th>Jumlah Bal Metode EOQ</th>
          <th>Status Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bb in eoq.details">
          <td>{{ bb.name }}</td>
          <td>{{ bb.balEOQ }}</td>
          <td>
            <span ng-if="bb.kebutuhan > bb.stock">Lakukan Pemesanan</span>
            <span ng-if="bb.kebutuhan <= bb.stock">Stock Cukup</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>